@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.mainStyle {
  @apply flex flex-col items-center justify-center flex-grow w-full min-h-[80%];
}
