@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;

  --petCare-myWhite: #fcfcfc;
  --petCare-coal: #484446;
  --petCare-sapphireTeal-dark: #166e7f;
  --petCare-sapphireTeal-main: #1e92a9;
  --petCare-sapphireTeal-light: #84beca;
  --petCare-sapphireTeal-superLight: #84beca;
}

@layer base {
  * {
    @apply font-sans;
  }

  :root {
    --background: #f0f0f0;
    --foreground: #333333;
    --radius: 10px;
  }

  body {
    @apply text-black;
  }
}

.mainStyle {
  @apply flex flex-col items-center justify-center flex-grow w-full min-h-[80%];
}
